{
  "exclude": "node_modules/",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "topLevelAwait": true
    },
    "target": "esnext",
    "baseUrl": ".",
    "paths": {
      "@utils/*": ["src/utils/*"]
    }
  },
  "module": {
    "type": "nodenext"
  },
  "minify": true
}